{{ define "main" }}
<div class="pa3 pa4-ns w-100 w-70-ns center">
  <h1 class="flex justify-center f2 mb3">Upcoming Shows</h1>

  {{ $currentTime := now }} {{ $yesterdayStart := $currentTime.AddDate 0 0 -1 }}
  {{ $yesterdayStart := $yesterdayStart.Format "2006-01-02" }}{{ $shows := where
  .Pages "Section" "shows" }} {{ $recentAndUpcomingShows := where $shows
  "Params.event_date" "ge" $yesterdayStart }} {{ $sortedShows := sort
  $recentAndUpcomingShows "Params.event_date" "asc" }} {{ partial
  "show-list.html" (dict "shows" $sortedShows) }}
</div>
{{ end }}
