{{ define "main" }}
<article class="pa3 pa4-ns nested-copy-line-height nested-img">
  <div class="w-100 w-70-ns center">    
    <h1 class="f2 fw6 mb3 lh-title">
      {{ with .Params.bands }} {{ delimit . " • " }} {{ end }}
    </h1>
    
    <div class="f4 mb4">
      <p class="dib mr3">
        <span class="b">Date:</span> {{ .Date.Format "Monday, January 2, 2006" }}
      </p>
      <p class="dib mr3">
        <span class="b">Time:</span> {{ .Date.Format "3:04 PM" }}
      </p>
      {{ with .Params.venue }}
      <p class="dib mr3">
        <span class="b">Venue:</span> {{ . }}
      </p>
      {{ end }}
      {{ with .Params.price }}
      <p class="dib">
        <span class="b">Price:</span> ${{ . }}
      </p>
      {{ end }}
      {{ with .Params.age_requirement }}
      <p class="dib ml3">
        <span class="b">Age:</span> {{ . }}
      </p>
      {{ end }}
    </div>

    {{ with .Params.bands }}
    <div class="f4 mb4">
      <h2 class="f3">Lineup:</h2>
      <ul class="list pl0">
        {{ range . }}
        <li class="mb2">• {{ . }}</li>
        {{ end }}
      </ul>
    </div>
    {{ end }}

    <div class="nested-copy-line-height lh-copy f4 nested-links {{ $.Param "text_color" | default "mid-gray" }}">
      {{ .Content }}
    </div>
  </div>
</article>
{{ end }} 
