{{ define "main" }}
<article class="pa3 pa4-ns nested-copy-line-height">
  <section class="cf ph3 ph5-l f4 center measure-wide lh-copy mid-gray">
    {{ .Content }}
  </section>
  <div class="measure-wide-l center f5 f4-l">
    {{ range .Pages.ByDate.Reverse }}
    <article class="bb b--black-10 pb4 mb4">
      <header class="flex-none">
        <h2 class="f2 fw1 athelas mt0 lh-title">
          <a href="{{ .RelPermalink }}" class="color-inherit dim link">
            {{ .Title }}
          </a>
        </h2>
        <div class="f6 mb3">
          {{ .Date.Format "January 2, 2006" }} by {{ .Params.artist }}
        </div>
      </header>
      <div class="nested-copy-line-height lh-copy mb4">{{ .Description }}</div>
      {{ partial "soundcloud.html" (dict "url" .Params.soundcloud_url "title"
      .Title "artist" .Params.artist "artist_url" .Params.artist_url "track_url"
      .Params.track_url ) }}
    </article>
    {{ end }}
  </div>
</article>
{{ end }}
