{{ define "main" }}
<article class="pa3 pa4-ns nested-copy-line-height nested-img">
  <div class="w-100 w-70-ns center">
    <h1 class="f2 lh-title mb3">{{ .Title }}</h1>
    
    <div class="f6 gray mv2">
      <time>{{ .Date.Format "January 2, 2006" }}</time>
      {{ with .Params.categories }}
      • Categories: 
      {{ range . }}
        <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}" class="link dim black">{{ . }}</a>
      {{ end }}
      {{ end }}
    </div>

    <div class="f4 nested-copy-line-height nested-links mid-gray">
      {{ .Content }}
    </div>
  </div>
</article>
{{ end }} 
