{{ if .IsPage }}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "MusicEvent",
    "name": "{{ .Title }}",
    "startDate": "{{ .Params.event_date }}",
    "description": "{{ with .Description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}",
    "image": "{{ with .Params.featured_image }}{{ . | absURL }}{{ else }}{{ with .Site.Params.images }}{{ index . 0 | absURL }}{{ end }}{{ end }}",
    "performer": [
      {{ range $index, $band := .Params.bands }}
      {
        "@type": "MusicGroup",
        "name": "{{ $band }}"
      }{{ if ne (add $index 1) (len $.Params.bands) }},{{ end }}
      {{ end }}
    ],
    "location": {
      "@type": "Place",
      "name": "{{ with .Params.venue }}{{ $venue_data := index $.Site.Data.venues . }}{{ $venue_data.name }}{{ end }}",
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "{{ .Params.city }}",
        "addressRegion": "{{ .Params.state }}"
      }
    }
  }
</script>
{{ else }}
<!-- Include shows list schema for section pages -->
{{ partial "shows-schema.html" . }} {{ end }}
