<section class="w-100 mw8">
  {{ range .shows }}
  <article class="bb b--black-10 pv4">
    <div class="flex flex-column flex-row-ns">
      <div class="w-100 w-20-ns pr3-ns">
        <h2 class="f5 mv0">{{ dateFormat "Mon, Jan 2" .Params.event_date }}</h2>
        <h3 class="f6 mt1">{{ .Params.city }}, {{ .Params.state }}</h3>
      </div>

      <div class="w-100 w-80-ns pl3-ns">
        <h1 class="f3 fw6 mt0 lh-title">
          {{- range $index, $band := .Params.bands -}} {{- if $index
          }}&nbsp;•&nbsp;{{ end -}} {{- $band_data := index site.Data.bands
          $band -}} {{- if $band_data -}} {{- if $band_data.social.instagram -}}
          <a
            href="https://instagram.com/{{ $band_data.social.instagram }}"
            class="link dim black bb b--black-20"
            target="_blank"
            rel="noopener noreferrer"
            >{{ $band_data.name }}</a
          >
          {{- else if $band_data.url -}}
          <a
            href="{{ $band_data.url }}"
            class="link dim black bb b--black-20"
            target="_blank"
            rel="noopener noreferrer"
            >{{ $band_data.name }}</a
          >
          {{- else -}} {{ $band_data.name }} {{- end -}} {{- else -}} {{ $band
          }} {{- end -}} {{- end -}}
        </h1>
        <div class="f5 f4-l lh-copy">
          {{ if .Params.venue }}
          <span class="b">
            {{ $venue_data := index site.Data.venues .Params.venue }} {{ if
            $venue_data }}
            <a
              href="/venues/{{ .Params.venue }}/"
              class="link dim black bb b--black-20"
            >
              {{ $venue_data.name }}
            </a>
            {{ else }} {{ .Params.venue | humanize }} {{ end }}
          </span>
          {{ else if .Params.venues }}
          <span class="b">
            {{ $venue_id := index .Params.venues 0 }} {{ $venue_data := index
            site.Data.venues $venue_id }} {{ if $venue_data }}
            <a
              href="/venues/{{ $venue_id }}/"
              class="link dim black bb b--black-20"
            >
              {{ $venue_data.name }}
            </a>
            {{ else }} {{ $venue_id | humanize }} {{ end }}
          </span>
          {{ end }} {{ if .Params.price }} • ${{ lang.FormatNumber 2
          .Params.price }} {{ end }} {{ if .Params.age_requirement }} • {{
          .Params.age_requirement }} {{ end }} • {{ dateFormat "3:04 PM"
          .Params.event_date }} {{ if .Summary }}
          <p>{{ .Summary }}</p>
          {{ end }}
        </div>
      </div>
    </div>
  </article>
  {{ end }}
</section>
