{{- $band_id := (.Get 0) | default (.Get "id") -}} {{- $band_data := index
site.Data.bands $band_id -}} {{- if $band_data -}} {{- if
$band_data.social.instagram -}}
<a
  href="https://instagram.com/{{ $band_data.social.instagram }}"
  class="link dim black bb b--black-20"
  target="_blank"
  rel="noopener noreferrer"
  >{{ $band_data.name }}</a
>
{{- else if $band_data.url -}}
<a
  href="{{ $band_data.url }}"
  class="link dim black bb b--black-20"
  target="_blank"
  rel="noopener noreferrer"
  >{{ $band_data.name }}</a
>
{{- else -}} {{ $band_data.name }} {{- end -}} {{- else -}} {{ $band_id |
humanize }} {{- end -}}
